@model IEnumerable<ERP.Models.Street>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
           @* <th>@Html.DisplayNameFor(model => model.StreetId)</th> *@
            <th>@Html.DisplayNameFor(model => model.StreetName)</th>            
            <th>Block</th>
            <th>Sector</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>@Html.DisplayFor(modelItem => item.StreetId)</td> *@
            <td>@Html.DisplayFor(modelItem => item.StreetName)</td>
            @*<td>@Html.DisplayFor(modelItem => item.Block_Id)</td>*@
            <td>@item.Blocks?.BlockName</td>
                <td>@item.Blocks?.Sectors?.SectorName</td>
            <td>
                <a asp-controller="Street" asp-action="Edit" asp-route-id="@item.StreetId">Edit</a>
                    <a href="#" onclick="confirmDelete(@item.StreetId)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<script>
    // JavaScript function to show a confirmation dialog before deleting
    function confirmDelete(StreetId) {
        if (confirm('Are you sure you want to delete this Street?')) {
            // Redirect to the Delete action passing the sectorId
            window.location.href = '/Street/Delete/' + StreetId;
        }
    }
</script>