@model IEnumerable<ERP.Models.ViewModels.PlotViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6">
            <h3 class="text-primary">Plot List </h3>
        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="Plot" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>&nbsp; Create New Plot
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped">
    <thead>
        <tr>         
            <th>@Html.DisplayNameFor(model => model.PlotNo)</th>          
            <th>@Html.DisplayNameFor(model => model.PlotTypeName)</th>          
            <th>@Html.DisplayNameFor(model => model.Plot_Size)</th>           
            <th>@Html.DisplayNameFor(model => model.StreetName)</th>            
            <th>@Html.DisplayNameFor(model => model.BlockName)</th>            
            <th>@Html.DisplayNameFor(model => model.SectorName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>       
                <td>@Html.DisplayFor(modelItem => item.PlotNo)</td>           
                <td>@Html.DisplayFor(modelItem => item.PlotTypeName)</td>           
                <td>@Html.DisplayFor(modelItem => item.Plot_Size)</td>           
                <td>@Html.DisplayFor(modelItem => item.StreetName)</td>        
                <td>@Html.DisplayFor(modelItem => item.BlockName)</td>          
                <td>@Html.DisplayFor(modelItem => item.SectorName)</td>
                <td>                   
                    <a asp-area="" asp-controller="Plot" asp-action="Edit" asp-route-id="@item.PlotId" class="btn btn-info btn-sm">Edit</a>
                    <a href="#" onclick="ConfirmDelete(@item.PlotId)" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<script>
    function ConfirmDelete(plotid){
        if(confirm('Are you sure to delete this plot?')){
            window.location.href = '/Plot/Delete/' + plotid;
        }
    }
</script>